 <appSettings>
    <add key="FacebookAppId" value="387785022418801"/>
    <add key="FacebookAppSecret" value="09d1d24d39cc6e067852c1c280afd0e8"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
